@if (Request.IsAuthenticated) {
    <text>
        Olá, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Editar conta" }) | 
        @Html.ActionLink("Cadastrar ocorrência", "Cadastrar", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Cadastrar ocorrência" }) | 
        @using (Html.BeginForm("logoff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()<a href="javascript:document.getElementById('logoutForm').submit()">Sair</a>}
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
